# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python 
2. R program 
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

  #### Data Science Tools:

  | Data science tools |
  ---------------------
  | Python |
  | R program |
  | SQL |
  | Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [6]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

#### some of the key takeaways from the course

# Objective

#### Unordered list:
##### List popular languages for Data Science
1. Python
2. Julia
3. R statistical language
4. Java
5. SQL
6. Matlab

# Auther
Niraj Patel